node_modules/
dist/
build/
coverage/
.vite/

#ignote all python generated stuff
**/__pycache__/
*.py[cod]

# Local SQLite databases
backend/*.db
backend/*.db.*
backend/dev-*.db*




# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# TypeScript / tooling
*.tsbuildinfo
